**/*:Zone.Identifier

# LaTeX
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.nav
**/*.snm
**/*.vrb
**/*.synctex.gz
**/*.fls
**/*.fdb_latexmk
**/*.dvi
**/*.bak*
**/_minted-*/
**/*.minted

# VSCode
**/.vscode/*

# other
**/*.log
